.cards-grid--models {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.cards-grid--models>.mf-item {
  display: flex;
  height: 100%;
}

.cards-grid--models>.mf-item>.anketa-card {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .cards-grid--models {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}